body {
	margin: 0;
	font-family: Helvetica;

}

#logo {
	height: 80px;
	width: 80px;
}

#container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	flex-direction: column; /* usefull to get image and text under it, and not next it ! */
}